@import url('variables.css');
@import url('reset.css');

/* Headerbar styling */
.headerbar {
  background: linear-gradient(to bottom, var(--color-neutral-200), var(--color-neutral-300));
  color: var(--color-black);
  border-bottom: 1px solid var(--color-neutral-400);
  margin: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerbar__logo {
  font-weight: 600;
  font-size: 1.25rem;
}

.headerbar__account {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 1rem;
}

.headerbar__btn {
  display: inline-block;
  color: var(--color-black);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}


/* 
App container styling.
On desktop and tablet, the sidebar and main content
are side to side.
*/
.app-container {
  display: flex;
  flex: 1;
}


/* Sidebar styling */
.sidebar {
  flex: 0 0 12%;
  min-width: 10rem;
  background-color: var(--color-neutral-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.sidebar__link {
  font-weight: 500;
  color: var(--color-neutral-950);

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}


/* Content styling */
.content {
  flex: 1;
  padding: 1rem;
}


/* Pagination styling */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.pagination__current {
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-foreground);
}


/* Footer styling */
.footerbar {
  padding: 0.5rem;
  background-color: var(--color-neutral-300);
}

.footerbar__text {
  margin-bottom: 0;
  font-size: 0.75rem;
}


/* Button styling */
.btn {
  display: inline-block;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-foreground);
  background: linear-gradient(to bottom, var(--color-neutral-50), var(--color-neutral-100));
  border: 1px solid var(--color-neutral-500);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background: none;
    background-color: var(--color-neutral-500);
  }
}


/* List styling */
.list {
  list-style: disc;
  margin-left: 1rem;
}

.list__item {
  padding: 0.5rem 0;
  color: var(--color-primary-700);

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}


/* Table styling */
.table__data {
  color: var(--color-neutral-900);
  font-size: 1rem;
  font-weight: 400;
}
.table__data--success {
  color: var(--color-success-600);
}
.table__data--warning {
  color: var(--color-warning-600);
}
.table__data--danger {
  color: var(--color-error-600);
}
