{% extends 'base.html' %}

{% block title %}Home - Golden Oak Library{% endblock title %}

{% block content %}
    <h1 class="title">Welcome to Golden Oak Library</h1>
    <section class="section">
        <h2 class="section__title">Record</h2>
        <p class="text">The library has the following record counts</p>

        <ul>
            <li>Books: {{ num_books }}</li>
            <li>Copies: {{ num_instances }}</li>
            <li>Copies Available: {{ num_instances_available }}</li>
            <li>Authors: {{ num_authors }}</li>
        </ul>
    </section>
{% endblock content %}